@use "../../../styles/tokens/mixins" as *;

.about {
  background-color: var(--color-mid);
  font-size: 1.5rem;
}

.list {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  @include tab {
    grid-template-columns: 1fr;
  }
}

.item {
  background: var(--color-white);
  border-radius: var(--radius-md);
  padding: 1.5rem 2rem;
}

.number {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-accent);
  text-align: center;

  em {
    margin-left: 0.1rem;
    font-size: 1.5rem;
  }
}

.tip {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}
