@use "../../../styles/tokens/mixins" as *;

.footer {
  padding: 1.5rem 2rem;
  @include tab {
    padding: 1rem vw(1rem, 375);
  }
}

.inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: var(--color-ink);
}

.links {
  display: flex;
  gap: 1rem;

  a {
    @include link-hover;
  }
}
